
<div class='btn-group'>
	<% if can? :edit, ad %>
		<%= link_to 'Редактировать', edit_ad_path(ad),class: 'btn btn-info btn-small' %>
	<% end %>
	<% if can? :draft, ad %>
		<%= link_to 'В черновик!', draft_ads_path(:ad_ids=>[ad.id]),class: 'btn btn-info btn-small' %>
	<% end %>
	<% if can? :ready, ad %>
		<%= link_to 'Запрос на публикацию', ready_ads_path(:ad_ids=>[ad.id]),class: 'btn btn-success btn-small' %>
	<% end %>
	<% if can? :reject, ad %>
		<%= link_to 'Отклонить', reject_ads_path(:ad_ids=>[ad.id]),class: 'btn btn-danger btn-small' %>
	<% end %>
	<% if can? :approve, ad %>
		<%= link_to 'Одобрить', approve_ads_path(:ad_ids=>[ad.id]),class: 'btn btn-success btn-small' %>
	<% end %>
	<% if can? :destroy, ad %>
		<%= link_to 'Удалить', destroy_ads_path(:ad_ids=>[ad.id]), class: 'btn btn-danger btn-small' %>
	<% end %>
</div>