<div class="well">
	<h2>
		<div class="pull-left label label-success"><%= ad.section.name %></div>
			<%= ad.title %>
		<div class="pull-right label label-success"><%= ad.city%></div>
	</h2>

	<div class="desc">
		<%= ad.description %>
	</div>

	<% ims = Asset.find_all_by_ad_id(ad.id) %>
	<div>
		<% ims.each do |im| %>
			<%= image_tag im.image.url, class: 'small_image' %>
		<% end %>
	</div>

	<div style="overflow: hidden">
		<div class="badge badge-info pull-left">
			<%= number_to_currency(ad.price) %>
			<%= ad.state %>
		</div>
		<% if ad.publish? %>
		<div class="pull-right">
			<b>
			<%= username(ad) %>,
			<%= ad.publish_date %>
			<b>
		</div>
		<% end %>
	</div>

	<%= render 'ads/actions', :ad => ad %>
</div>
