<% unless @ads.empty? %>
  <% opts=Ad::MULTIPLE_ACTS.select {|x| can? x, Ad}%>
  <%= form_tag opts[0].to_s, id: "act_form", class: 'form-inline' do %>
    <table class="man">

    <% @ads.each do |ad| %>
      <tr>
        <td class="narrow">
          <%= check_box_tag "ad_ids[]", ad.id, false, onclick: "ch(this,#{ad.id})" %>
        </td>
        <td id="sel<%= ad.id %>">
          <%= render ad %>
        </td>
      </tr>
    <% end %>

    </table>

    <%= select_tag "act", options_for_select(opts), onchange: 'ch_sel()'%>
    <%= submit_tag "action", id: 'form_subm', class: 'btn btn-primary' %>

  <% end %>
<% end %>

<%= paginate @ads %>

<% if can? :create, Ad %>
  <%= link_to 'Create ad', new_ad_path, class: 'btn btn-primary' %>
<% end %>
