<% unless @ads.empty? %>
<% opts=Ad::MULTIPLE_ACTS.select {|x| can? x, Ad}%>
<%= form_tag 'ads/'+opts[0].to_s, id: "act_form", class: 'form-inline' do %>
<table class="table table-rounded">
	<% @ads.each do |ad| %>
	<tr>
		<td><%= check_box_tag "ad_ids[]", ad.id %></td>
		<td><%= render ad %></td>
	</tr>
	<% end %>
	</table>
	
	<%= select_tag "act", options_for_select(opts), onchange: 'ch_sel()'%>
	<%= submit_tag "action", id: 'form_subm', class: 'btn btn-primary' %>
<% end %>	
<% end %>


<% if can? :create, Section %>
	<%= link_to 'Разделы', new_section_path, class: 'btn btn-info' %>
<% end %>

<% if can? :create, Ad %>
	<%= link_to 'Добавить', new_ad_path, class: 'btn btn-primary' %>
<% end %>