<table class="table table-striped">

  <caption>
    Sections
  </caption>

  <thead>
  <tr>
    <th>Name</th>
    <th>Ads</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sections.each do |section| %>
    <tr>
      <td>
        <%= section.name %>
      </td>
      <td>
        <%= Ad.find_all_by_section_id(section.id).count %>
      </td>
      <td>
        <div class="btn-group pull-right">
          <%= link_to 'Show', section, class: 'btn' %>
          <%= link_to 'Edit', edit_section_path(section), class: 'btn'  %>
          <% if can? :destroy, section %>
            <%= link_to 'Destroy', section, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'  %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</tbody>

</table>

<%= paginate @sections %>

<%= link_to 'New Section', new_section_path, class: 'btn btn-primary'%>
